In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession .\
builder .\
appName("spark") .\
config("spark.sql.warehouse.dir","/user/itv016843/warehouse") .\
enableHiveSupport() .\
master("yarn") .\
getOrCreate()

In [3]:
spark

In [4]:
df1 = spark.read \
.format("parquet") \
.option("header",True) \
.load("/public/trendytech/lendingclubproject/cleaned/customers_parquet")

In [5]:
df1.limit(5)

+--------------------+------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|           member_id|         emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|application_type|join_annual_income|verification_status_joint|         ingest_date|
+--------------------+------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|45c47c49ef9346a50...|area sales manager|         5|      MORTGAGE|      48000.0|           NY|          131xx|            USA|    C|       C2|    Source Verified|               221587.0|       Joint App|           90000.0|          Source Verified|2023-09-15 17:18:...|
|ae8702f966762bdde...|           Manager|         7|      MORTGAGE|     105000.0|           NJ|          087xx|            USA|    C|       C3|    Source Verified|                51300.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|bfdd1a23cef47a143...|         Admitting|         9|      MORTGAGE|      70000.0|           OR|          970xx|            USA|    B|       B2|    Source Verified|               331700.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|449c9106149e63f46...| technical Support|         9|          RENT|      39000.0|           FL|          337xx|            USA|    D|       D5|       Not Verified|                24700.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|ed2036be1311f9c09...|    Branch Manager|         3|          RENT|      65000.0|           CA|          926xx|            USA|    C|       C5|       Not Verified|                28826.0|      Individual|              null|                     null|2023-09-15 17:18:...|
+--------------------+------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+

In [6]:
df1.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: integer (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_income: float (nullable = true)
 |-- address_state: string (nullable = true)
 |-- address_zipcode: string (nullable = true)
 |-- address_country: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- total_high_credit_limit: float (nullable = true)
 |-- application_type: string (nullable = true)
 |-- join_annual_income: float (nullable = true)
 |-- verification_status_joint: string (nullable = true)
 |-- ingest_date: timestamp (nullable = true)

In [ ]:
	1.	/public/trendytech/lendingclubproject/cleaned/customers_parquet
	2.	/public/trendytech/lendingclubproject/cleaned/loans_parquet
	3.	/public/trendytech/lendingclubproject/cleaned/loans_defaulters_delinq_parquet
	4.	/public/trendytech/lendingclubproject/cleaned/loans_defaulters_detail_records_enq_parquet
	5.	/public/trendytech/lendingclubproject/cleaned/loans_defaulters_records_enq_parquet
	6.	/public/trendytech/lendingclubproject/cleaned/loans_repayments_parquet

In [10]:
spark.sql("""
CREATE EXTERNAL TABLE customers (
  member_id STRING,
  emp_title STRING,
  emp_length INT,
  home_ownership STRING,
  annual_income FLOAT,
  address_state STRING,
  address_zipcode STRING,
  address_country STRING,
  grade STRING,
  sub_grade STRING,
  verification_status STRING,
  total_high_credit_limit FLOAT,
  application_type STRING,
  join_annual_income FLOAT,
  verification_status_joint STRING,
  ingest_date TIMESTAMP
)
STORED AS PARQUET
LOCATION '/public/trendytech/lendingclubproject/cleaned/customers_parquet'
""")

++
||
++
++

In [11]:
df2 = spark.read \
.format("parquet") \
.option("header",True) \
.load("/public/trendytech/lendingclubproject/cleaned/loans_parquet")

In [12]:
df2.printSchema()

root
 |-- loan_id: string (nullable = true)
 |-- member_id: string (nullable = true)
 |-- loan_amount: float (nullable = true)
 |-- funded_amount: float (nullable = true)
 |-- loan_term_years: integer (nullable = true)
 |-- interest_rate: float (nullable = true)
 |-- monthly_installment: float (nullable = true)
 |-- issue_date: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- loan_purpose: string (nullable = true)
 |-- loan_title: string (nullable = true)
 |-- ingest_date: timestamp (nullable = true)

In [13]:
spark.sql("""
CREATE EXTERNAL TABLE loans (
  loan_id STRING,
  member_id STRING,
  loan_amount FLOAT,
  funded_amount FLOAT,
  loan_term_years INT,
  interest_rate FLOAT,
  monthly_installment FLOAT,
  issue_date STRING,
  loan_status STRING,
  loan_purpose STRING,
  loan_title STRING,
  ingest_date TIMESTAMP
)
STORED AS PARQUET
LOCATION '/public/trendytech/lendingclubproject/cleaned/loans_parquet'
""")

++
||
++
++

In [16]:
df3 = spark.read \
.format("parquet") \
.option("header",True) \
.load("/public/trendytech/lendingclubproject/cleaned/loans_defaulters_delinq_parquet")

In [17]:
df3.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- delinq_2yrs: integer (nullable = true)
 |-- delinq_amnt: float (nullable = true)
 |-- mths_since_last_delinq: integer (nullable = true)

In [18]:
spark.sql("""
CREATE EXTERNAL TABLE loans_defaulters_delinq (
  member_id STRING,
  delinq_2yrs INT,
  delinq_amnt FLOAT,
  mths_since_last_delinq INT
)
STORED AS PARQUET
LOCATION '/public/trendytech/lendingclubproject/cleaned/loans_defaulters_delinq_parquet'
""")

++
||
++
++

In [19]:
df4 = spark.read \
.format("parquet") \
.option("header",True) \
.load("/public/trendytech/lendingclubproject/cleaned/loans_defaulters_detail_records_enq_parquet")

In [20]:
df4.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- pub_rec: integer (nullable = true)
 |-- pub_rec_bankruptcies: integer (nullable = true)
 |-- inq_last_6mths: integer (nullable = true)

In [21]:
spark.sql("""
CREATE EXTERNAL TABLE loans_defaulters_records_enq (
  member_id STRING,
  pub_rec INT,
  pub_rec_bankruptcies INT,
  inq_last_6mths INT
)
STORED AS PARQUET
LOCATION '/public/trendytech/lendingclubproject/cleaned/loans_defaulters_records_enq_parquet'
""")

++
||
++
++

In [24]:
df5 = spark.read \
.format("parquet") \
.option("header",True) \
.load("/public/trendytech/lendingclubproject/cleaned/loans_repayments_parquet")

In [25]:
df5.printSchema()

root
 |-- loan_id: string (nullable = true)
 |-- total_principal_received: float (nullable = true)
 |-- total_interest_received: float (nullable = true)
 |-- total_late_fee_received: float (nullable = true)
 |-- total_payment_received: float (nullable = true)
 |-- last_payment_amount: float (nullable = true)
 |-- last_payment_date: string (nullable = true)
 |-- next_payment_date: string (nullable = true)
 |-- ingest_date: timestamp (nullable = true)